
/* @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'"DM Serif Display', sans-serif;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
  height: 80px;
}

.section-navbar {
  width: 100%;
  /* box-shadow: ; */
}
.section-navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.8rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-navbar .navbar ul {
  display: flex;
  gap: 15px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.nav-item {
  list-style: none;
  color: #0062ff;
}
.nav-link {
  text-decoration: none;
}
.image {
  width: 100px;
  height: 50px;
}
.hero-image {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0062ff;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
.btn :hover {
  cursor: pointer;
}
main {
    position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.grid1 {
  padding: 0 30px;
}
.hero-subheading{
    color: #ffffff;
}
.hero-para{
    color: #ffffff;
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    line-height: 20px;
}


.custom-shape-divider-bottom-1707661915 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707661915 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 141px;
}

.custom-shape-divider-bottom-1707661915 .shape-fill {
    fill: #FFFFFF;
}

.section-common-heading{
    /* font-size: 51.2px; */
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading{
    color: #000a19;
}
.card{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}
.card-descripation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  text-align: justify;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.containers {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 0;
}
